################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CursoMVC/v15
/.vs/CursoMVC/v16/Server/sqlite3
