
@{
  ViewData["Title"] = "Index";
}


<div id="app" class="grid">
  <h1>notas de alumnos</h1>
  <hr>
  <h2 class="text-primary">agregar nombre: </h2>

    <input type="text" maxlength="25" v-model="newUser" placeholder="Nombre" required>
    <button type="button" v-on:click="addUser()" class="btn">agregar</button>


  <hr>
  <h1>lista de nombres </h1>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name in names ">
        <td>{{name}}</td>
      </tr>
    </tbody>
  </table>

  <hr />
  <h2>lista de nombre ordena </h2>

  @*<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name in ordena">
        <td>{{name}}</td>
      </tr>
    </tbody>
  </table>


  <h3>lista de nombre que empiesa con consonantes ordenadas </h3>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre que empiza con consonantes</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name in consonantes">
        <td>{{name.consonantes}}</td>
      </tr>
    </tbody>
  </table>

  <h3>lista de nombre que empiesa con vocales ordenadas </h3>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre que empieza con vocales</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name in vocales">
        <td>{{vocales.name}}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <!--lista ordenas inversamente-->
  <h2 class="text-success">lista de nombre ordena inversamente</h2>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name in iversamente ">
        <td>{{name}}</td>
      </tr>
    </tbody>
  </table>


  <h3 class="text-success">lista de nombre que empiesa con consonantes desendente </h3>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre que empiza con consonantes</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name in consonantes">
        <td>{{name.consonantes}}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="text-success">lista de nombre que empiesa con vocales desendente</h3>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre que empieza con vocales</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="vocales">
        <td>{{vocales.name}}</td>
      </tr>
    </tbody>
  </table>

  <!--lista con los nombre del texto invertido-->
  <hr />
  <h2 class="text-danger">lista de nombre ordena con texto invertido</h2>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name">
        <td>{{name}}</td>
      </tr>
    </tbody>
  </table>


  <h3 class="text-danger">lista de nombre que empiesa consonantes texto invertido </h3>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre que empiza con consonantes</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="consonantes">
        <td>{{name.consonantes}}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="text-danger">lista de nombre que empiesa con vocales  texto invertido</h3>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre que empieza con vocales</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="vocales">
        <td>{{vocales.name}}</td>
      </tr>
    </tbody>
  </table>*@
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="~/js/ordenarNombre.js"></script>
